*{
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow: hidden;
}
header{
	background-color: aqua;
	width: 100%;
	height: 60px;
}
header h1 {
	line-height: 60px;
	text-align: center;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
table{
	height: 600px;
	width: 800px;
	border-collapse: collapse;

}
thead{
	background-color: blue;
	
}
table, tr, th,td{
	border: 1px solid black;
	text-align: center;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: aqua;
}
footer p{
	text-align: center;
	line-height: 60px;
}